<div class="flex h-screen bg-[var(--background-secondary)] relative">
  <!-- Loader يغطي الصفحة كلها -->
  <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white/80 z-50">
    <div class="text-center">
      <div
        class="inline-block animate-spin rounded-full h-16 w-16 border-4 border-[var(--green-primary)] border-t-transparent mb-4">
      </div>
      <p class="text-[var(--text-secondary)] text-lg font-medium">جارٍ تحميل البيانات...</p>
    </div>
  </div>
  <!-- Sidebar (Teachers List) -->
  <div class="w-100 bg-[var(--background-secondary)] border-r border-[var(--gray-medium)] flex flex-col shadow-md"
    *ngIf="!isLoading">

    <!-- Searchbar -->
    <div class="p-4 border-b border-[var(--gray-medium)] bg-[var(--background-primary)]">
      <div class="relative">
        <span class="absolute inset-y-0 left-3 flex items-center text-[var(--gray-dark)]">
          <i class="fas fa-search"></i>
        </span>
        <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="ابحث بالاسم..." class="w-full pl-10 pr-3 py-2 border border-[var(--gray-medium)] rounded-lg shadow-sm
                  text-[var(--text-primary)] placeholder-[var(--text-secondary)]
                  focus:ring-2 focus:ring-[var(--gold-primary)] focus:border-[var(--gold-primary)] focus:outline-none
                  transition-all duration-200" />
      </div>
    </div>

    <!-- Filter by Specialization -->
    <div class="p-4 border-b border-[var(--gray-medium)] bg-[var(--background-secondary)]">
      <p class="font-semibold mb-3 text-[var(--green-primary)]">البحث بالتخصص</p>

      <div class="flex flex-wrap gap-3 ">
        <label *ngFor="let spec of specializations" class="flex items-center  px-3 py-2 rounded-lg border border-[var(--gray-medium)] bg-white
             text-[var(--text-secondary)] cursor-pointer hover:border-[var(--gold-primary)] hover:text-[var(--green-dark)]
             transition-all duration-200">
          <input type="checkbox" class="mx-2 accent-[var(--green-dark)]"
            (change)="toggleSpecialization(spec.id, $event)">
          {{ spec.label }}
        </label>
      </div>
    </div>



    <!-- Teachers List -->
    <div class="flex-1 overflow-y-auto">
      <ul class="divide-y divide-[var(--gray-medium)]">
        @for (teacher of filteredTeachers; track teacher.teacherId) {
        <li (click)="getEnrolledStudents(teacher.teacherId)"
          class="p-4 flex items-center justify-between hover:bg-[var(--gray-light)] transition-colors duration-200 cursor-pointer">
          <div class="flex items-center">
            <img [src]="teacher.profileImg || 'https://via.placeholder.com/40'" alt="Teacher"
              class="w-12 h-12 rounded-full object-cover mr-4 ml-3 ring-2 ring-[var(--gold-primary)]">
            <div>
              <p class="font-medium text-[var(--text-primary)]">
                {{ teacher.firstName + ' ' + teacher.lastName }}
              </p>
              <p class="text-sm text-[var(--text-secondary)]">
                الاشتراكات : {{ teacher.enrollmentsCount || 0 }}
              </p>
            </div>
          </div>
          <div class="flex flex-col gap-1">
            <!-- <button (click)="getEnrolledStudents(teacher.teacherId)"
            class="px-3 py-1 text-xs rounded-md bg-[var(--green-primary)] text-white shadow-sm
                   hover:bg-[var(--green-dark)] transition-colors">
            التفاصيل
          </button> -->
            <!-- <button (click)="deleteTeacher(teacher.teacherId)" class="px-3 py-1 text-xs rounded-md bg-[var(--gold-primary)] text-white shadow-sm
                   hover:bg-[var(--gold-secondary)] transition-colors">
              حذف
            </button> -->
          </div>
        </li>
        }
      </ul>
    </div>
  </div>




  <!-- Detail Panel -->
  <div class="flex-1 p-6 overflow-y-auto relative" *ngIf="!isLoading">


    <!-- لو مفيش Teacher مختار -->
    <div *ngIf="!teacher" class="flex flex-col items-center justify-center h-full text-gray-500">
      <i class="fas fa-user text-5xl mb-4 text-[var(--gray-medium)]"></i>
      <p class="text-lg">اختر معلم من القائمة لعرض التفاصيل</p>
    </div>


    <div *ngIf="teacher" class="bg-white shadow rounded-lg p-6">
      <!-- Teacher Info -->
      <div class="flex flex-col  gap-2 mb-6">

        <!-- Teacher Details -->
        <div class="flex items-center justify-center mb-6 space-x-20">
          <!-- Teacher Image -->
          <img [src]="teacher.profileImg || 'https://via.placeholder.com/40'"
            alt="{{ teacher.firstName + ' ' + teacher.lastName }}"
            class="w-50 h-50 rounded-full object-cover mr-4 ml-3 ring-2 ring-[var(--gold-primary)]">


          <!-- Teacher Info (Styled List instead of Table) -->
          <div class="grid grid-cols-2 gap-y-3 gap-x-6 text-xl">
            <div>
              <p class="text-gray-500 font-medium text-xl">الاسم</p>
              <p class="text-gray-900 font-semibold">{{teacher.firstName + ' ' + teacher.lastName}}</p>
            </div>

            <div>
              <p class="text-gray-500 font-medium text-xl">سعر الساعة</p>
              <p class="text-gray-900">{{teacher.hourlyRate}} جنيها</p>
            </div>
            <div class="col-span-2">
              <p class="text-gray-500 font-medium text-xl">التخصصات</p>
              <p class="text-gray-900">
                {{ getSpecializationLabels(teacher.specializations) }}
              </p>
            </div>

          </div>
        </div>

      </div>


      <!-- Students Section -->
      <div class="flex items-center justify-between mb-4 relative">
        <h3 class="text-xl font-semibold">الطلاب ({{ students.length }})</h3>

        <!-- Navigation Buttons -->
        <div class="flex space-x-2">
          <!-- Previous Button -->
          <button (click)="previousStudent()" [disabled]="currentIndex === 0" class="w-10 h-10 sm:w-12 sm:h-12 rounded-full border-2 border-gray-300 bg-white
         flex items-center justify-center shadow-md transition-all duration-300
         hover:border-blue-500 hover:text-blue-500
         disabled:opacity-50 disabled:cursor-not-allowed
         disabled:hover:border-gray-300 disabled:hover:text-gray-400" aria-label="Previous students">

            <svg class="w-5 h-5 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>

          <!-- Next Button -->
          <button (click)="nextStudent()" [disabled]="currentIndex >= students.length - itemsPerView" class="w-10 h-10 sm:w-12 sm:h-12 rounded-full border-2 border-gray-300 bg-white
         flex items-center justify-center shadow-md transition-all duration-300
         hover:border-blue-500 hover:text-blue-500
         disabled:opacity-50 disabled:cursor-not-allowed
         disabled:hover:border-gray-300 disabled:hover:text-gray-400" aria-label="Next students">

            <svg class="w-5 h-5 sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
          </button>



        </div>
      </div>
      <!-- Slider -->
      <div class="relative overflow-hidden cursor-pointer p-8 mb-8 border-b-2 border-gray-200">
        <div class="flex transition-transform duration-500 ease-out " [style.transform]="getTransform()">
          <!-- Student Card -->
          <div *ngFor="let student of students" class="flex-shrink-0 px-2 sm:px-3 cursor-pointer"
            [style.width.%]="100 / itemsPerView" [routerLink]="['/dashboard/students/details', student.studentId]">

            <div class="flex items-center space-x-2 bg-[var(--gray-light)]  p-2 rounded-lg shadow-sm h-16
            transform transition-transform duration-300 ease-in-out hover:scale-105">
              <img [src]="student.profileImg" class="w-12 h-12 rounded-full object-cover" alt="Student">
              <p class="text-sm text-[var(--green-dark)]">{{ student.fullName}}</p>
            </div>

          </div>
        </div>
      </div>



      <!-- Teacher Availability -->
      <div class="flex justify-between items-center mb-4">
        <h3 class="text-lg font-semibold text-[var(--green-primary)]">
          مواعيد المعلم المتاحة
        </h3>

        <!-- Add Button -->
        <button (click)="openAddModal()" class="px-4 py-2 text-sm rounded-md bg-[var(--gold-primary)] text-white
           hover:bg-[var(--green-primary)] transition-colors shadow-md cursor-pointer flex items-center gap-2">
          <i class="fas fa-plus"></i>
          إضافة موعد
        </button>
      </div>

      <!-- Table -->
      <div class="overflow-x-auto rounded-lg shadow-sm border border-[var(--gray-medium)]">
        <table class="min-w-full text-sm">
          <thead class="bg-[var(--green-primary)] text-white">
            <tr>
              <th class="px-4 py-2 text-right">اليوم</th>
              <th class="px-4 py-2 text-right">وقت البدء</th>
              <th class="px-4 py-2 text-right">وقت الانتهاء</th>
              <th class="px-4 py-2 text-center">الإجراءات</th>
            </tr>
          </thead>
          <tbody class="bg-[var(--background-primary)] divide-y divide-[var(--gray-medium)]">
            <tr *ngFor="let slot of teacherAvailability; let i = index"
              class="hover:bg-[var(--gray-light)] transition-colors">

              <td class="px-4 py-2 text-[var(--text-primary)]">{{ getDayLabel(slot.dayOfWeek) }}</td>
              <td class="px-4 py-2 text-[var(--text-secondary)]">{{ formatTime(slot.startTime) }}</td>
              <td class="px-4 py-2 text-[var(--text-secondary)]">{{ formatTime(slot.endTime) }}</td>

              <td class="px-4 py-2 flex justify-center gap-2">
                <!-- <button  class="px-3 py-1 text-xs rounded-md bg-[var(--gold-primary)] text-white
                   hover:bg-[var(--gold-secondary)] transition-colors shadow-sm cursor-pointer">
                  تعديل
                </button> -->
                <button (click)="deleteAvailability(slot.teacherAvailabilityId)" class="px-3 py-1 text-xs rounded-md bg-[var(--gold-primary)] text-white
                   hover:bg-[var(--green-dark)] transition-colors shadow-sm cursor-pointer">
                  حذف
                </button>
              </td>
            </tr>
          </tbody>
        </table>


      </div>

      <!-- Add Availability Modal -->
      <div *ngIf="showAddModal" class="fixed inset-0 flex items-center justify-center bg-black/80 ">
        <div class="bg-white p-6 rounded-lg w-96">
          <h2 class="text-lg font-bold mb-4">إضافة موعد جديد</h2>

          <!-- اختيار اليوم -->
          <label class="block mb-2">اليوم</label>
          <select [(ngModel)]="newSlot.day" class="border rounded p-2 w-full">
            <option [value]="DayOfWeek.Sunday">الأحد</option>
            <option [value]="DayOfWeek.Monday">الاثنين</option>
            <option [value]="DayOfWeek.Tuesday">الثلاثاء</option>
            <option [value]="DayOfWeek.Wednesday">الأربعاء</option>
            <option [value]="DayOfWeek.Thursday">الخميس</option>
            <option [value]="DayOfWeek.Friday">الجمعة</option>
            <option [value]="DayOfWeek.Saturday">السبت</option>
          </select>

          <!-- وقت البداية -->
          <label class="block mt-4 mb-2">بداية الوقت</label>
          <input type="time" [(ngModel)]="newSlot.start" class="border rounded p-2 w-full" />

          <!-- وقت النهاية -->
          <label class="block mt-4 mb-2">نهاية الوقت</label>
          <input type="time" [(ngModel)]="newSlot.end" class="border rounded p-2 w-full" />

          <!-- الأزرار -->
          <div class="flex justify-end mt-6 gap-2">
            <button (click)="closeAddModal()"
              class="px-4 py-2 bg-gray-300 hover:bg-[var(--text-secondary)] hover:text-white rounded cursor-pointer">إلغاء</button>
            <button (click)="saveNewSlot()"
              class="px-4 py-2 bg-[var(--gold-primary)] hover:bg-[var(--green-primary)] text-white rounded cursor-pointer">حفظ</button>
          </div>
        </div>

        <!-- Loader يغطي الصفحة كلها -->
        <div *ngIf="isLoading" class="absolute inset-0 flex items-center justify-center bg-white/80 z-50">
          <div class="text-center">
            <div
              class="inline-block animate-spin rounded-full h-16 w-16 border-4 border-[var(--green-primary)] border-t-transparent mb-4">
            </div>
            <p class="text-[var(--text-secondary)] text-lg font-medium">جارٍ تحميل البيانات...</p>
          </div>
        </div>
      </div>



      <!-- Teacher Payouts Section -->
      <div class="mt-8 border-t-2 pt-5 border-gray-200">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-xl font-semibold text-[var(--green-primary)]">المدفوعات</h3>
          <button (click)="getCompletedSessionByTeacherId()"
            class="px-4 py-2 bg-[var(--gold-primary)] text-white rounded-lg hover:bg-[var(--green-primary)] cursor-pointer">
            <i class="fas fa-plus"></i>
            إضافة مدفوعات
          </button>
        </div>



        <div class="overflow-x-auto rounded-lg shadow-sm border border-[var(--gray-medium)]">
          <table class="min-w-full bg-white shadow ">
            <thead class="bg-[var(--green-primary)] text-white">
              <tr>
                <!-- <th class="px-4 py-2 text-left">المدرس</th> -->
                <th class="px-4 py-2">تاريخ الدفع</th>
                <th class="px-4 py-2">إجمالي الساعات</th>
                <th class="px-4 py-2">المبلغ</th>
                <th class="px-4 py-2">إجراءات</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr *ngIf="teacherPayouts.length === 0">
                <td colspan="5" class="text-center py-8">
                  <!-- أيقونة SVG -->
                  <svg class="mx-auto mb-2 w-12 h-12 text-gray-400" fill="none" stroke="currentColor"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 17v-2a4 4 0 118 0v2m-4 0v2m0-10a4 4 0 100-8 4 4 0 000 8z" />
                  </svg>
                  <span class="text-gray-500 text-lg">لا يوجد مدفوعات</span>
                </td>
              </tr>

              <ng-container *ngIf="teacherPayouts.length > 0">
                <tr *ngFor="let payout of paginatedPayouts" class="hover:bg-gray-50">
                  <td class="px-4 py-2 text-center">{{ payout.paidAt | date:'mediumDate' }}</td>
                  <td class="px-4 py-2 text-center">{{ payout.totalHours }}</td>
                  <td class="px-4 py-2 text-center">{{ payout.totalAmount | currency:'EGP' }}</td>
                  <td class="px-4 py-2 text-center">
                    <button (click)="openDetails(payout)"
                      class="px-3 py-1 bg-[var(--green-primary)] text-white rounded-lg hover:bg-green-700 cursor-pointer">
                      التفاصيل
                    </button>
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>

          <div dir="rtl" class="bg-[var(--background-primary)] shadow-sm mt-6 px-6 py-4 rounded-lg"
            *ngIf="teacherPayouts.length > 0">

            <div class="flex flex-col sm:flex-row justify-between items-center gap-4">

              <!-- أزرار التحكم -->
              <div class="flex items-center gap-2">
                <!-- الأول -->
                <button (click)="goToPage(1)" [disabled]="currentPage === 1"
                  class="p-2 rounded-lg border cursor-pointer border-[var(--gray-medium)] hover:bg-[var(--gold-secondary)] hover:bg-opacity-20 disabled:opacity-50 disabled:cursor-not-allowed transition-colors text-[var(--text-primary)]">
                  <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7">
                    </path>
                  </svg>
                </button>

                <!-- السابق -->
                <button (click)="previousPage()" [disabled]="currentPage === 1"
                  class="p-2 rounded-lg border cursor-pointer border-[var(--gray-medium)] hover:bg-[var(--gold-secondary)] hover:bg-opacity-20 disabled:opacity-50 disabled:cursor-not-allowed transition-colors text-[var(--text-primary)]">
                  <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                  </svg>
                </button>

                <!-- الصفحات -->
                <div class="flex items-center gap-1">
                  <button *ngFor="let page of getVisiblePages()" (click)="goToPage(page)"
                    [class.bg-[var(--green-primary)]]="page === currentPage" [class.text-white]="page === currentPage"
                    class="w-8 h-8 rounded-lg border cursor-pointer border-[var(--gray-medium)] hover:bg-[var(--gold-secondary)] hover:bg-opacity-20 text-sm font-medium transition-colors text-[var(--text-primary)]">
                    {{ page }}
                  </button>
                </div>

                <!-- التالي -->
                <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                  class="p-2 rounded-lg border cursor-pointer border-[var(--gray-medium)] hover:bg-[var(--gold-secondary)] hover:bg-opacity-20 disabled:opacity-50 disabled:cursor-not-allowed transition-colors text-[var(--text-primary)]">
                  <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                  </svg>
                </button>

                <!-- الأخير -->
                <button (click)="goToPage(totalPages)" [disabled]="currentPage === totalPages"
                  class="p-2 rounded-lg border cursor-pointer border-[var(--gray-medium)] hover:bg-[var(--gold-secondary)] hover:bg-opacity-20 disabled:opacity-50 disabled:cursor-not-allowed transition-colors text-[var(--text-primary)]">
                  <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 19l-7-7 7-7m8 14l-7-7 7-7">
                    </path>
                  </svg>
                </button>
              </div>

              <!-- النص -->
              <div class="text-sm text-[var(--text-secondary)]">
                عرض {{ getShowingRange() }} من أصل {{ totalCount }} من المدفوعات
              </div>

            </div>
          </div>


        </div>
      </div>

      <!-- Modal للدفع  -->
      <div *ngIf="showPayoutModal" class="fixed inset-0 flex items-center justify-center bg-black/80 z-50">

        <!-- Modal Content -->
        <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl p-6 relative">
          <button (click)="closeModalPayout()"
            class="absolute top-2 right-2 text-black font-bold cursor-pointer">X</button>

          <!-- معلومات المعلم -->
          <div *ngIf="completedSessions.length">
            <div class="flex items-center gap-4 mb-4">
              <img [src]="teacher.profileImg" alt="{{teacher.firstName +' '+teacher.lastName }}"
                class="w-20 h-20 rounded-full border border-black object-cover">
              <div>
                <h2 class="text-lg font-bold text-black">{{ teacher.firstName +' '+teacher.lastName}}</h2>
                <p class="text-sm">تاريخ الدفع: {{ paymentDate }}</p>
                <p class="text-sm">إجمالي الساعات: {{ totalDuration }}</p>
                <p class="text-sm font-semibold">المبلغ الكلي: {{ totalAmount | currency:'EGP' }}</p>
              </div>
            </div>

            <div class="mb-4">
              <label class="block text-sm font-medium text-black mb-1">اختر صورة إثبات الدفع</label>
              <input type="file" accept="image/*" (change)="onFileSelected($event)"
                class="border border-black rounded px-2 py-1 w-full" />
            </div>

            <!-- زر الدفع -->
            <button
              class="bg-[var(--gold-primary)] hover:bg-[var(--green-primary)] cursor-pointer text-white px-4 py-2 rounded mb-4"
              (click)="payNow()">
              ادفع الآن
            </button>

            <!-- جدول الجلسات -->
            <div class="overflow-x-auto border border-black rounded-lg">
              <table class="w-full text-sm border-collapse">
                <thead>
                  <tr class="border-b border-black bg-gray-100">
                    <th class="px-4 py-2 border border-black">ID الجلسة</th>
                    <th class="px-4 py-2 border border-black">ID الاشتراك</th>
                    <th class="px-4 py-2 border border-black">التاريخ</th>
                    <th class="px-4 py-2 border border-black">المدة (دقائق)</th>
                    <th class="px-4 py-2 border border-black">حالة الحصة</th>
                    <th class="px-4 py-2 border border-black">المبلغ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let session of completedSessions" class="border-b border-black">
                    <td class="px-4 py-2 border border-black">{{ session.id }}</td>
                    <td class="px-4 py-2 border border-black">{{ session.enrollmentId }}</td>
                    <td class="px-4 py-2 border border-black">{{ session.startTime | date:'short' }}</td>
                    <td class="px-4 py-2 border border-black">{{ session.duration * 60 }}</td>
                    <td class="px-4 py-2 border border-black">{{ getSessionStatusLabel(session.status) }}</td>
                    <td class="px-4 py-2 border border-black">{{ session.amount | currency:'EGP' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>





  <!-- Modal للتفاصيل  -->
  <div *ngIf="showPayoutModalDetails"
    class=" fixed inset-0 flex items-center justify-center bg-black/80 z-50 print:static print:bg-white">
    <div
      class="modal-content bg-white rounded-lg shadow-lg   max-w-none p-6 relative print:shadow-none print:border print:border-black overflow-auto">
      <!-- Close Button -->
      <button (click)="closeModal()" class="absolute top-3 right-3 text-black print:hidden cursor-pointer">
        ✖
      </button>




      <!-- Teacher Info -->
      <div *ngIf="selectedPayout">
        <div class="flex items-center gap-8 mb-4">
          <img [src]="selectedPayout.teacherImage" alt="{{selectedPayout.teacherName}}"
            class="w-16 h-16 rounded-full border border-black">


          <div>
            <h2 class="text-lg font-bold text-black">{{ selectedPayout.teacherName }}</h2>
            <p class="text-sm">تاريخ الدفع: {{ selectedPayout.paidAt | date:'medium' }}</p>
            <p class="text-sm">إجمالي الساعات: {{ selectedPayout.totalHours }}</p>
            <p class="text-sm font-semibold">المبلغ: {{ selectedPayout.totalAmount | currency:'EGP' }}</p>
          </div>


        </div>
        <img [src]="selectedPayout.imageUrl" alt="{{selectedPayout.teacherName}}" class="w-100 border border-black ">

        <!-- Sessions Table -->
        <div *ngIf="selectedPayout.sessions?.length">
          <h4 class="text-md font-semibold mb-2 text-black">الجلسات</h4>

          <div class="overflow-x-auto border border-black rounded-lg">
            <table class="w-full text-sm border-collapse">
              <thead>
                <tr class="border-b border-black bg-gray-100">
                  <th class="px-4 py-2 border border-black">ID الجلسة</th>
                  <th class="px-4 py-2 border border-black">ID الاشتراك</th>
                  <th class="px-4 py-2 border border-black">التاريخ</th>
                  <th class="px-4 py-2 border border-black">المدة (دقائق)</th>
                  <th class="px-4 py-2 border border-black">حالة الحصة</th>
                  <th class="px-4 py-2 border border-black">المبلغ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let session of selectedPayout?.sessions" class="border-b border-black">
                  <td class="px-4 py-2 border border-black">{{ session.id }}</td>
                  <td class="px-4 py-2 border border-black">{{ session.enrollmentId }}</td>
                  <td class="px-4 py-2 border border-black">{{ session.startTime | date:'short' }}</td>
                  <td class="px-4 py-2 border border-black">{{ session.duration * 60 }}</td>
                  <td class="px-4 py-2 border border-black">{{ getSessionStatusLabel(session.status) }}</td>
                  <td class="px-4 py-2 border border-black">{{ session.amount | currency:'EGP' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>






</div>





<!-- Toast message -->
<div *ngIf="showMessage" [ngClass]="{
           'bg-green-500': messageType==='success',
           'bg-red-500': messageType==='error'
         }"
  class="text-white z-10 px-4 py-2 rounded-md absolute top-80 left-1/2 transform -translate-x-1/2 shadow-lg text-2xl">
  {{ message }}
</div>
